<h1>Welcome home!</h1>
<h2>All your libraries are listed below</h2>

  <% @library.each do |library| %>
  		<% @adventure.each do |adventure| %>

    <li><%= library.url %></li>
    <li><%= adventure.title %></li>
    <% end %>
  <% end %>

  <%= link_to new_library_path %>